/* BEGIN UNIVERSAL STYLES */
body {
  overflow-x: hidden; }

main {
  height: 100vh;
  float: left;
  position: relative;
  overflow: hidden; }

section {
  height: 100vh;
  float: left;
  position: relative;
  overflow: hidden; }

embed {
  height: 100vh;
  width: 100vw; }

object {
  height: 100vh;
  width: 100vw; }

.copy-container {
  background-color: rgba(229, 229, 229, 0.5);
  z-index: 1;
  position: absolute; }

h1 {
  font-family: macklin;
  font-weight: 900;
  font-style: italic;
  color: black;
  font-size: 40px; }

h2 {
  font-family: gotham;
  font-weight: 900;
  color: #333033; }

h3 {
  font-family: gotham;
  font-weight: 900;
  color: #333033; }

h4 {
  font-family: gotham;
  font-weight: 900;
  color: #333033; }

h5 {
  font-family: gotham;
  font-weight: 900;
  color: #333033; }

p {
  font-family: gotham;
  font-size: 14px; }

.green-underline {
  border-bottom: 6px solid #C2D500; }

.turquoise-underline {
  border-bottom: 6px solid #00AC98; }

.orange-underline {
  border-bottom: 6px solid #F26524; }

/* SNAP SCROLL */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; }

section {
  height: 100vh;
  scroll-snap-align: center; }

/* ENDS SNAP SCROLL */
nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  padding-top: 20vh;
  z-index: 199;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: none;
  opacity: 0;
  transition: .5s; }

.display-toggle {
  display: block;
  animation-name: fade;
  transition: .5s;
  animation-duration: .25s;
  animation-iteration-count: 1;
  opacity: 1; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-2 {
  from {
    opacity: 0;
    margin-left: -50px; }
  to {
    opacity: 1;
    margin-left: 0; } }
.main-nav {
  list-style: none; }
  .main-nav li {
    text-align: center;
    padding: 25px;
    font-family: gotham;
    letter-spacing: 2px;
    transition: 1s; }
  .main-nav a {
    color: #333033;
    text-decoration: none; }

.secondary-nav {
  border-top: 2px solid lightgray;
  list-style: none;
  margin-top: 10vh;
  padding-top: 10vh; }
  .secondary-nav li {
    text-align: center;
    padding: 25px;
    font-family: gotham;
    letter-spacing: 2px;
    transition: 1s; }
  .secondary-nav a {
    color: #333033;
    text-decoration: none; }

.nav-item-1 {
  animation-name: fade-2;
  animation-duration: .5s; }

.nav-item-2 {
  animation-name: fade-2;
  animation-duration: 1s; }

.nav-item-3 {
  animation-name: fade-2;
  animation-duration: 1.5s; }

.nav-item-4 {
  animation-name: fade-2;
  animation-duration: 2s; }

.nav-item-5 {
  animation-name: fade-2;
  animation-duration: 2.5s; }

/* ENDS UNIVERSAL STYLES */
/* ----------------------------------------------------------------- */
/* BEGINS HEADER */
header {
  padding: 15px;
  float: left;
  z-index: 200;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid lightgray; }
  header div {
    float: left; }
  header img {
    width: 100%;
    float: left; }

/*CLOSES HEADER */
.dropdown-menu-custom {
  margin-left: -10px !important;
  margin-top: 5px; }

.top {
  position: absolute; }

/* ENDS HEADER */
/* ----------------------------------------------------------------- */
/* BEGINS FOOTER */
footer {
  float: left;
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0;
  z-index: -1;
  /*close ul*/ }
  footer ul {
    list-style: none;
    float: left;
    padding: 0;
    /*close li*/ }
    footer ul li {
      float: left;
      text-align: center;
      padding: 5px; }
    footer ul a {
      color: #333033;
      text-decoration: none;
      font-size: 10px;
      letter-spacing: 2px;
      padding: 0; }
    footer ul img {
      width: 15px;
      height: auto; }

/* CLOSES FOOTER */
/* ENDS FOOTER */
/* ----------------------------------------------------------------- */
/* BEGINS HOME */
#container-1 h1 {
  position: absolute;
  bottom: 10vh;
  z-index: 1;
  color: white; }
#container-1 .video-background {
  position: absolute;
  width: auto;
  height: 100vh;
  z-index: -100; }

#container-2 {
  padding: 0; }
  #container-2 svg {
    position: absolute;
    z-index: 1; }
  #container-2 .svg-v-1 {
    left: 8vw; }
  #container-2 .svg-v-2 {
    right: 8vw; }
  #container-2 .svg-h-1 {
    top: 52vh; }
  #container-2 .svg-h-2 {
    top: 95vh; }
  #container-2 .image-container {
    position: relative;
    margin-top: 7vh;
    overflow: hidden;
    height: 50vh;
    padding: 0; }
  #container-2 img {
    padding: 0;
    float: left;
    position: absolute;
    height: 100%;
    width: auto; }
  #container-2 .copy-container {
    min-height: 43vh;
    margin-top: -5vh;
    padding-top: 7vh;
    padding-bottom: 4vh; }
  #container-2 h2 {
    padding-bottom: 1.5vh; }

#container-3 {
  padding: 0; }
  #container-3 svg {
    position: absolute;
    z-index: 1; }
  #container-3 .svg-v-1 {
    left: 8vw; }
  #container-3 .svg-v-2 {
    right: 8vw; }
  #container-3 .svg-h-1 {
    top: 52vh; }
  #container-3 .svg-h-2 {
    top: 95vh; }
  #container-3 .image-container {
    position: relative;
    margin-top: 7vh;
    overflow: hidden;
    height: 50vh;
    padding: 0; }
  #container-3 img {
    padding: 0;
    float: left;
    position: absolute;
    height: 100%;
    width: auto; }
  #container-3 .copy-container {
    min-height: 43vh;
    margin-top: -5vh;
    padding-top: 7vh;
    padding-bottom: 4vh; }
  #container-3 h2 {
    padding-bottom: 1.5vh; }

/* begins reveal section */
#people {
  height: 125vh !important;
  position: relative; }
  #people h2 {
    margin-bottom: 25px; }
  #people img {
    height: auto;
    position: absolute; }

/* animation */
#people .svg1 {
  position: fixed;
  animation: scale 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.01s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: 0;
  margin: auto;
  width: 300vw; }
@keyframes scale {
  to {
    transform: scale(16000) translateY(1200px); } }
#people .svg2 {
  position: fixed;
  animation: scale 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.01s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: 0;
  margin: auto;
  width: 300vw; }
@keyframes scale2 {
  to {
    transform: scale(16000) translateY(1200px); } }
/* CLOSE #PEOPLE */
.zoom {
  position: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

.zoom-1 {
  background-image: url("../assets/images/unparalleled-luxe.png"); }
  .zoom-1 h2 {
    color: white !important; }
  .zoom-1 p {
    color: white !important; }

.zoom-2 {
  background-image: url("../assets/images/meticulous.png"); }

.reveal-container {
  margin-top: 15vh; }

/* ends reveal section */
/* ENDS HOME */
/* ----------------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
