
/* BEGIN UNIVERSAL STYLES */

$orange: #F26524;
$black: #333033;
$gray50: #8C8E90;
$turquoise: #00AC98;
$green: #C2D500;

body{
  overflow-x: hidden;
}

main{
  height: 100vh;
  position: relative;
  overflow: hidden;
}

section{
    height: 100vh;
    float: left;
    position: relative;
}

h1{
font-family: macklin;
font-weight: 900;
font-style: italic;
color: $black;
}

h2{
font-family: gotham;
font-weight: 900;
color: $black;
}

h3{
  font-family: gotham;
  font-weight: 900;
  color: $black;
}

h4{
  font-family: gotham;
  font-weight: 900;
  color: $black;
}

h5{
  font-family: gotham;
  font-weight: 900;
  color: $black;
}

p{
font-family: gotham;
font-size: 14px;
}

.green-underline{
  border-bottom: 6px solid $green;
}

.turquoise-underline{
  border-bottom: 6px solid $turquoise;
}

.orange-underline{
  border-bottom: 6px solid $orange;
}

/* ENDS UNIVERSAL STYLES */

/* ----------------------------------------------------------------- */

/* BEGINS HEADER */

header{
  padding: 15px;
  float: left;
  z-index: 200;
  background-color: white;
  position: fixed;

  div{
    float: left;
  }

  img{
    width: 100%;
    float: left;
  }
} /*CLOSES HEADER */
/* ENDS HEADER */

/* ----------------------------------------------------------------- */

/* BEGINS FOOTER */

footer{
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0;
  position: fixed;
  bottom: 0;
  z-index: 200;

ul{
list-style: none;
float: left;
padding: 0;


  li{
    float: left;
    text-align: center;
    padding:5px;
      }/*close li*/

  a{
    color: $black;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 0;
    }
    img{
      width: 15px;
      height: auto;
    }


}/*close ul*/
}/* CLOSES FOOTER */
/* ENDS FOOTER */

/* ----------------------------------------------------------------- */

/* BEGINS HOME */

#home-1{
  .video-background{
    width: auto;
    height: 100vh;
    z-index: 0;
  }
}

/* ENDS HOME */

/* ----------------------------------------------------------------- */
